body {
    font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #283136;
	font-family: "Roboto Medium", Arial, sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}

.page-header {
    margin-bottom: 75px;
}

.top {
    display: block;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #E5E5E5;
}

.main-menu li {
    display:inline-block;
    margin-right: 5px;
}

.main-menu a {
    display: block;
    padding: 8px 10px;
    color: #0088CC;
}

.site-logo {
    float: left;
    width: 140px;
    height: 55px;
    margin-right: 50px;
    margin-bottom: 70px;
}

.main-menu {
    float: left;
    width: 430px;
    margin-right: 50px;
    margin-top: 20px;
}

.cart {
    float: right;
    width: 120px;
    margin-right: 50px;
}

.promo {
    display: block;
    clear: both;
}

.services {
    display: block;
    margin-bottom: 25px;
}

.services-item {
    float: left;
    width: 240px;
    margin-right: 75px;
}

.services-item:last-child {
    margin-right: 0px;
}
