body {
    font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #283136;
	font-family: "Roboto Medium", Arial, sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}

.page-header {
    margin-bottom: 75px;
    background-color: #EEEEEE;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display:inline-block;
    margin-right: 5px;
}

.main-menu a {
    display: block;
    padding: 8px 10px;
    color: #0088CC;
}

.site-logo {
    float: left;
    width: 140px;
    height: 55px;
    margin-right: 50px;
    margin-bottom: 70px;
}

.main-menu {
    float: left;
    width: 430px;
    margin-right: 50px;
    margin-top: 20px;
}

.user-block {
    float: left;
    margin-top: 25px;
    width: 120px;
}

.promo {
    display: block;
    clear: both;
}

.services {
    display: block;
    margin-bottom: 25px;
}

.services-item {
    float: left;
    width: 240px;
    margin-right: 75px;
}

.services-item:last-child {
    margin-bottom: 70px;
}

.services-item:last-child {
    margin-right: 0px;
}

hr {
    width: 880px;
    border: 1px solid #EEEEEE;
}

.about-us-left {
    float: left;
    width: 570px;
    margin-right: 20px;
}

.about-us-right {
    float: right;
    width: 240px;
}

.client-logos {
    padding-top: 40px;
    padding-bottom: 40px;
}

.client-logos img {
    display: inline-block;
    width: 240px;
    margin-right: 70px;
    vertical-align: middle;
}

.client-logos img:last-child {
    margin-right: 0px;
}

.map {
    display: block;
    width: 880px;
    border: 1px solid black;
    min-height: 415px;
}

.page-footer {
    margin-top: 60px;
}

.footer-social {
    float: left;
    margin-right: 10px;
}

.footer-affiliate {
    float: right;
}
