html,body{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
	line-height: 22px;
    font-weight: 500;
    font-style: normal;
    color: black;
    background: white;
}

h1 {
    font-size: 31px;
    line-height: 48px;
    color: #000000;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}

.container {
    width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

.clearfix::after {
    content: "";
	display: table;
	clear: both;
}

.btn {
    display:block;
    padding:12px 0;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
	cursor: pointer;
}

.page-header {
    background-color: #EEEEEE;
    margin-top: 0px;
	margin-bottom: 82px;
}

.site-logo {
	float: left;
	width: 140px;
	margin-top: 23px;
	margin-bottom: 41px;
}

.main-menu {
	float: right;
	width: 600px;
	margin-top: 48px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-menu li {
	display: inline-block;
	font-size: 14px;
	line-height: 30px;
	vertical-align: middle;
}

.main-menu a {
	position: relative;
	display: block;
	padding: 3px 20px;
	text-decoration: none;
    text-transform: uppercase;
	color: #000;
	cursor: pointer;
}

.main-menu li:last-child a {
	padding: 3px 0px 3px 30px;
}

li.active:last-child a::after {
	left: 0;
	right: 0;
}

.main-menu li:nth-child(5) {
	padding-right: 0;
	margin-left: 45px;
}

.main-menu a:hover {
	color: #fb565a;
}

.main-menu a:active {
	opacity: 0.4;
	color: black;
}

.main-menu .active a {
	position: relative;
	pointer-events: none;
}

.main-menu .active a:hover {
	background: none;
	cursor: default;
	color: #000;
}

.main-menu .active a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 2px;
	background-color: #fb565a;
}

.page-header .container:nth-child(2) {
	padding-top: 42px;
}

.gallery{
    position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
	bottom: 0;
}

.gallery input[type=radio] {
  	display: none;
}

.gallery-toggles{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index: 99;
}

.gallery-toggles label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

#btn-1:checked ~ .gallery-toggles label[for="btn-1"],
#btn-2:checked ~ .gallery-toggles label[for="btn-2"],
#btn-3:checked ~ .gallery-toggles label[for="btn-3"] {
    background:#C1C1C1;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.slide-text{
    width: 380px;
    padding: 30px 0;
    color: #283136;
}

.slide-title{
    font-size:36px;
    line-height:36px;
    color:black;
}

.slide .btn{
    width:240px;
    padding:10px 0;
    margin-top:25px;
}

.slide:nth-child(1){
    background-image:url("../img/gallery-1.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(2){
    background-image:url("../img/gallery-2.png");
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(3){
    background-image:url("../img/gallery-3.png");
    background-repeat:no-repeat;
    background-position:100% 0;
}

.slide .btn {
    width:240px;
    padding:10px 0;
    margin-top:25px;
}

.slide{
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.services {
    display: block;
    margin-bottom: 25px;
}

.services-item {
    float: left;
    width: 240px;
    margin-right: 75px;
}

.services-item:last-child {
    margin-bottom: 70px;
}

.services-item:last-child {
    margin-right: 0px;
}

hr {
    width: 880px;
    border: 1px solid #EEEEEE;
}

.about-us-left {
    float: left;
    width: 570px;
    margin-right: 20px;
}

.about-us-right {
    float: right;
    width: 240px;
}

.lead {
    font-size: 35px;
    line-height: 35px;
    color: #000000;
}

.about-us-left h3 {
    text-transform: uppercase;
    font-weight: normal;
}

.about-us-right img {
    margin-bottom: 15px;
}

.client-logos {
    padding-top: 40px;
    padding-bottom: 40px;
}

.client-logos img {
    display: inline-block;
    width: 240px;
    margin-right: 70px;
    vertical-align: middle;
}

.client-logos img:last-child {
    margin-right: 0px;
}

.map {
    display: block;
    width: 880px;
    border: 1px solid black;
    min-height: 415px;
    clear: both;
}

.page-footer {
    margin-top: 60px;
}

.footer-social {
    float: left;
    margin-right: 10px;
}

.footer-affiliate {
    float: right;
}

.filters {
    float: left;
    width: 240px;
}

.items {
    float: right;
    width: 565px;
}

.item {
    display: inline-block;
}

.paginator {
    margin: 0;
    padding: 0;
    list-style: none;
}

.paginator li {
    display:inline-block;
    margin-right: 5px;
}

.paginator a {
    display: block;
    padding: 8px 10px;
    color: #0088CC;
    text-decoration: none;
}
